version: "3.8"

services:
  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    restart: always
    environment:
      APP_DB_PATH: ${APP_DB_PATH:-/tmp/app.db}
    ports:
      - "8000:8000"
    volumes:
      - app-data:/tmp
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: '0.5' 
          memory: 512M
    labels:
      - "io.kompose.network/2026-s7-esiea-devops-cicd-tp1-app-python-net=true"
      - "io.kompose.service=app"

volumes:
  app-data:
    driver: local

networks:
  default:
    name: 2026-s7-esiea-devops-cicd-tp1-app-python-net
